<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../css/bootstrap.css" />
    <link rel="stylesheet" href="../../../../css/style.css" />
    <title>Produk - Amie Jaya Motor</title>
  </head>
  <body>
    <!-- Tempat Ngerjain -->

    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #060064"
    >
      <div class="container">
        <a class="navbar-brand" href="../../../../index.html">
          <img
            src="../../../../assets/logo.png"
            alt="Logo"
            class="d-inline-block align-text-top"
            style="max-width: 175px; max-height: 144px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a
              aria-current="page"
              class="nav-link active"
              href="../../main.html"
              >Kembali ke halaman utama</a
            >
          </div>
        </div>
      </div>
    </nav>
    <!-- Batas Navbar -->

    <!-- Section Produk -->
    <section id="catalog-product" class="mt-4">
      <div class="container mt-2">
        <h2 class="text-center mb-4">Menampilkan MIO M3 CW</h2>
        <center></center>
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col-md-4">
            <div
              id="colorCarousel"
              class="carousel slide mt-3"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <!-- Item -->
                <div class="carousel-item active">
                  <div class="card h-100">
                    <div class="card-body text-center">
                      <h5 class="card-title">Biru</h5>
                      <img
                        src="../../../../assets/img/product/Matic/Mio M3/2023120410412029067M25149 (3).png"
                        class="card-img-top"
                        alt="Motor 1"
                      />
                    </div>
                  </div>
                </div>
                <!-- Item -->
                <div class="carousel-item">
                  <div class="card h-100">
                    <div class="card-body text-center">
                      <h5 class="card-title">Kuning</h5>
                      <img
                        src="../../../../assets/img/product/Matic/Mio M3/2023120410412355828G36489 (3).png"
                        class="card-img-top"
                        alt="Motor 2"
                      />
                    </div>
                  </div>
                </div>
                <!-- Item -->
                <div class="carousel-item">
                  <div class="card h-100">
                    <div class="card-body text-center">
                      <h5 class="card-title">Merah</h5>
                      <img
                        src="../../../../assets/img/product/Matic/Mio M3/2023120410412654949D4272 (3).png"
                        class="card-img-top"
                        alt="Motor 2"
                      />
                    </div>
                  </div>
                </div>
                <!-- Item -->
                <div class="carousel-item">
                  <div class="card h-100">
                    <div class="card-body text-center">
                      <h5 class="card-title">Hitam</h5>
                      <img
                        src="../../../../assets/img/product/Matic/Mio M3/2023120410412871912O88484 (3).png"
                        class="card-img-top"
                        alt="Motor 2"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#colorCarousel"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon"></span>
                <span
                  style="background-color: #060064; border-color: #060064"
                  class="visually-hidden"
                  >Previous</span
                >
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#colorCarousel"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon"></span>
                <span
                  style="background-color: #060064; border-color: #060064"
                  class="visually-hidden"
                  >Next</span
                >
              </button>
            </div>
          </div>
          <div class="col col-md-7" style="margin-top: 60px">
            <h1><b>Yamaha</b> MIO M3 CW</h1>
            <hr />
            <a class="btn mb-4 btn-primary" href="../../../../assets/img/spc/MATIC/Spek - MIO M3 CW.pdf">Spesifikasi</a>
            <a class="btn mb-4 btn-primary" href="">Komparasi Motor</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Produk -->

      <div class="footer-component">
      <!-- Footer -->
      <footer class="d-none d-sm-block fixed-bottom">
        <p class="lead">&copy; 2025 Amie Jaya Motor. All rights reserved.</p>
      </footer>
      <!-- Batas Footer -->
      <!-- Footer -->
      <footer class="d-block d-sm-none">
        <p class="lead">&copy; 2025 Amie Jaya Motor. All rights reserved.</p>
      </footer>
      <!-- Batas Footer -->
    </div>

    <script src="../../../../js/bootstrap.js"></script>
    <script src="../../../../js/script.js"></script>
  </body>
</html>
