<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../css/bootstrap.css" />
    <link rel="stylesheet" href="../../../../css/style.css" />
    <title>FAZZIO - Amie Jaya Motor</title>
  </head>
  <body>
    <!-- Tempat Ngerjain -->

    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #060064"
    >
      <div class="container">
        <a class="navbar-brand" href="../../index.html">
          <img
            src="../../assets/logo.png"
            alt="Logo"
            class="d-inline-block align-text-top"
            style="max-width: 175px; max-height: 144px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a aria-current="page" class="nav-link active" href="../main.html"
              >Kembali Ke Menu</a
            >
          </div>
        </div>
      </div>
    </nav>
    <!-- Batas Navbar -->

    <section id="catalog-product" class="mt-4">
      <div class="container">
        <h2 class="text-center mb-4">FAZZIO</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <!-- Card 1 -->
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/motor1.jpg"
                class="card-img-top"
                alt="Motor 1"
              />
              <div class="card-body text-center">
                <h5 class="card-title">Motor A</h5>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col">
            <div class="card h-100">
              <img 
                src="../../../../assets/img/product/Classy/"
                class="card-img-top"
                alt="Motor 2"
              />
              <div class="card-body text-center">
                <h5 class="card-title">Motor B</h5>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/motor3.jpg"
                class="card-img-top"
                alt="Motor 3"
              />
              <div class="card-body text-center">
                <h5 class="card-title">Motor C</h5>
              </div>
            </div>
          </div>
          <!-- Card 4 -->
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/motor4.jpg"
                class="card-img-top"
                alt="Motor 4"
              />
              <div class="card-body text-center">
                <h5 class="card-title">Motor D</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <div class="footer-component">
      <!-- Footer -->
      <footer class="d-none d-sm-block fixed-bottom">
        <p class="lead">&copy; 2025 Amie Jaya Motor. All rights reserved.</p>
      </footer>
      <!-- Batas Footer -->
      <!-- Footer -->
      <footer class="d-block d-sm-none">
        <p class="lead">&copy; 2025 Amie Jaya Motor. All rights reserved.</p>
      </footer>
      <!-- Batas Footer -->
    </div>

    <script src="../../../../js/bootstrap.js"></script>
    <script src="../../../../js/script.js"></script>
  </body>
</html>
